.footer {
  background: rgba(9, 36, 51, 1);
  padding: 32px 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: sticky;
  top: 100%;

  &_logo {
    width: 157px;
  }

  &_social {
    display: flex;
    gap: 20px;
  }

  &_nav {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &_nav-item {
    width: 40%;

    a {
      color: rgba(255, 255, 255, 1);
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0;
      text-align: left;
    }
  }

  &_info {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
  }
}


@media (min-width: 1200px) {
  .footer {
    padding: 80px 20px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      "logo logo logo logo logo nav nav nav nav nav nav nav"
      "info info . . . soc soc soc soc soc soc soc";

    .logo-container {
      grid-area: logo;
    }

    &_logo {
      width: 324px;
    }

    &_social {
      grid-area: soc;
    }

    .nav-container {
      grid-area: nav;
    }

    &_nav-item {
      width: 20%;
    }

    &_info {
      grid-area: info;
    }
  }
}
